.container
	width: 100%
	max-width: 1040px
	margin: 0 auto
	padding: 0 20px

.title
	fill: #ffffff

.logo
	width: 150px

.search__icon
	width: 30px
	height: 30px
	fill: #fff

.navbar
	background: transparent
	font-weight: 500
	
.nav-item--search
	border-bottom: 3px solid #00ff99
	transition: background-color .5s
	&:hover
		background-color: #00ff99
		   
.nav-item--stickers
	border-bottom: 3px solid #61d0fc
	transition: background-color .5s
	&:hover
		background-color: #61d0fc

.nav-item--translate
	border-bottom: 3px solid #3939fa
	transition: background-color .5s
	&:hover
		background-color: #3939fa

.nav-item--random
	border-bottom: 3px solid #ba32fa
	transition: background-color .5s
	&:hover
		background-color: #ba32fa

.nav-item--tv
	border-bottom: 3px solid #fd4242
	transition: background-color .5s
	&:hover
		background-color: #fd4242

.gifLabel
	background-color: #00ff99
	transition: background-color .5s
	&:hover
		background-color: darken(#00ff99, 15%)

.stickerLabel
	background-color: #61d0fc
	transition: background-color .5s
	&:hover
		background-color: darken(#61d0fc, 20%)

.custom-radio
	label:after
		background-image: none !important
		display: none
	label:after
	label:before
		content: ''
		display: none
	label
		cursor: pointer
	input:checked + label
		background-color: #eeee0e

.custom-control-label
	font-weight: 500

.container-tv
	width: 100%
	height: 100vh
	position: relative
	.navbar
		position: absolute
		left: 2%
		top: 2%
		opacity: .5
		z-index: 10
	#giphy
		width: 100%
		height: 100vh
	.navbar-toggler,
	.collapse
		display: none !important

.aaa
	margin: 0
	padding: 0
	width: 100%
	height: 100%
	position: fixed
	background-repeat: no-repeat
	background-position: center center
	background-size: cover

.input-group-append
	display: none