* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh; }

body {
  font-family: 'Montserrat', sans-serif;
  background: -webkit-gradient(linear, left top, right bottom, from(#0f0c29), color-stop(#302b63), to(#24243e));
  background: linear-gradient(to right bottom, #0f0c29, #302b63, #24243e); }

.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px; }

.title {
  fill: #ffffff; }

.logo {
  width: 150px; }

.search__icon {
  width: 30px;
  height: 30px;
  fill: #ffffff; }

.navbar {
  background: transparent;
  font-weight: 500; }

.nav-item--search {
  border-bottom: 3px solid #00ff99;
  -webkit-transition: background-color .5s;
  transition: background-color .5s; }
  .nav-item--search:hover {
    background-color: #00ff99; }

.nav-item--stickers {
  border-bottom: 3px solid #61d0fc;
  -webkit-transition: background-color .5s;
  transition: background-color .5s; }
  .nav-item--stickers:hover {
    background-color: #61d0fc; }

.nav-item--translate {
  border-bottom: 3px solid #3939fa;
  -webkit-transition: background-color .5s;
  transition: background-color .5s; }
  .nav-item--translate:hover {
    background-color: #3939fa; }

.nav-item--random {
  border-bottom: 3px solid #ba32fa;
  -webkit-transition: background-color .5s;
  transition: background-color .5s; }
  .nav-item--random:hover {
    background-color: #ba32fa; }

.nav-item--tv {
  border-bottom: 3px solid #fd4242;
  -webkit-transition: background-color .5s;
  transition: background-color .5s; }
  .nav-item--tv:hover {
    background-color: #fd4242; }

.gifLabel {
  background-color: #00ff99;
  -webkit-transition: background-color .5s;
  transition: background-color .5s; }
  .gifLabel:hover {
    background-color: #00b36b; }

.stickerLabel {
  background-color: #61d0fc;
  -webkit-transition: background-color .5s;
  transition: background-color .5s; }
  .stickerLabel:hover {
    background-color: #05aff2; }

.custom-radio label:after {
  background-image: none !important;
  display: none; }

.custom-radio label:before {
  content: '';
  display: none; }

.custom-radio label {
  cursor: pointer; }

.custom-radio input:checked + label {
  background-color: #dada0a; }

.custom-control-label {
  font-weight: 500; }

.container-tv {
  position: relative; }
  .container-tv .navbar {
    position: absolute;
    left: 1%;
    opacity: .5;
    z-index: 10; }
  .container-tv .navbar-toggler,
  .container-tv .collapse {
    display: none !important; }

.tv-screen {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.input-group-append {
  display: none; }

.recommend__text {
  font-size: 12px; }

.recommend__icon {
  width: 20px;
  height: 20px;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  fill: #ba32fa; }
